.proj-head1{
    font-family: Poppins;
    align-content: center;
    text-align: center;
    width: 100%;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 50px;
}
.container{
    font-family: 'Poppins','Inter';
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: auto;
    row-gap: 10px;
    column-gap: 10px;
    
}
.card{
    display: flex;
    flex-direction: column;
    height: 700px;
}
.thumb{
    width: 100%;
    height: 70%;
    object-fit: contain;
    justify-content: center;
    background-image: radial-gradient(white,lightblue);
    border-radius: 20px;
}
.thumb img{
    width: 100%;
    height: 100%;
}
.title{
    text-align: center;
}
.title h2{
    font-size: 50px;
}
.about{
    font-size: 14;
    font-weight: 400;
}
.type{
    font-size: 15px;
    
}